<hr>
        CST336 Internet programming. 2020&copy; Garrett <br />
        <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
        It is used for academic purposes only. <br />
        <img src="img/CSUMBLogo.png" alt="CSUMB Logo" />
</body>

</html>