<%- include('partials/header.ejs') %>

<div class="content">

    <p>
        Automation is key in devops. The reason is that automation removes a lot of the manual steps that can either
        slow down development or cause failures in systems.
        In the same way we have computers solve finance problems, automation can take repetitive tasks and complete them
        faster with no error. Automation also alows the
        continous process's of iterative development in an agile world, to take root and move at lightninng speed with
        such things as continous delivery.
    </p>

    <p>
        For automation to truly be possible and scalable it is usually considered that cloud computing through a
        provider such as AWS or Azure, to provide the scalability
        and scripting of infrastructure that couldn't of happened years ago.
    </p>

</div>


<div>
    <h3>Devops tools for automation</h3>
    <img src="img/devopsTools.jpeg" alt="CSUMB Logo" />
</div>

<div>
    <h3>Devops Process</h3>
    <img src="img/AgileDevOps.jpg" alt="CSUMB Logo" />
</div>

<%- include('partials/footer.ejs') %>