<%- include('partials/header.ejs') %>

<div class="row justify-content-md-center">
    <div class="col-mod-6">
        <p>
            The DevOps Culture is one of collaboration and cooperation. Thinking about the business first. Many
            people start at automation and believe this is what
            makes a great DevOps culture. Or there is a team of engineers who knows both sides well. But in reality
            it is a group collaborating and working together. Although the image
            is titled serverless, it's a good depictions of how the transfer from traditional server teams has
            migrated to a collaborative approach.

        </p>
        <img src="img/DevOpsServerless.jpg" alt="CSUMB Logo" />
    </div>
    <div>
        
    </div>
</div>


<%- include('partials/footer.ejs') %>