<%- include('partials/header.ejs') %>

<div class="content">

    <p>
        DevOps is a cultural movement where the software industry is trying to break down the barrier between
        IT operations and Software Developers. The natural pull between getting new functionality going and
        keeping the lights on has kept some great products from becoming advanced. DevOps try's to fill this gap with a
        few key areas.

    </p>


    <p>
        <img src="img/devios.png" alt="DevOps Infinite" />
    </p>
    <hr>
    <p>
        Process: Building on agile process, teams work together.
    </p>
    <hr>
    <p>
        Automation: Speeding up development without sacraficing quality
    </p>
    <hr>
    <p>
        Culture: Collaboration and experimentation
    </p>
    <hr>
    <p>
        Monitoring: Data driven decisions and actions.
    </p>


</div>

<%- include('partials/footer.ejs') %>